<h2 class="filter-by-genres__header
           {{if isCollapsed 'filter-by-genres__header--is-collapsed'}}"
    {{action "toggleGenreSection"}}>
  {{title}}: <span>{{paper-icon "expand-more" size=24}}</span>
</h2>

<ul class="filter-by-genres__list">
  {{#each genres as |genre|}}
    <li class="filter-by-genres__item">
      {{#paper-checkbox value=genre.isSet onChange=(action (mut genre.isSet))}}
        {{genre.name}}
      {{/paper-checkbox}}
    </li>
  {{else}}
    <li>
      <h4 class="filter-by-genres__empty-msg">There is no genres for filtering</h4>
    </li>
  {{/each}}
</ul>

{{yield}}