{{#paper-list}}
  {{#each items as |item|}}
    {{#paper-item class="md-3-line items-list__item md-whiteframe-z1"
                  data-popularity=item.popularity
                  data-rating=item.vote_average}}
      <img src="{{item.whole_poster_path}}"
           class="items-list__poster md-list-item-text"
           alt="{{item.title}}">

      <div class="md-list-item-text items-list__content">
        <h3 class="items-list__title">{{item.title}}</h3>

        <p class="items-list__genres">
          <strong>Genres:</strong>
          {{#each item.genre_ids as |genre index|}}
            {{if index ','}} <span class="items-list__genre-name">{{genre.name}}</span>
          {{/each}}
        </p>
      </div>
    {{/paper-item}}
  {{else}}
    <h4 class="items-list__empty-msg">There is no movies with selected criteria</h4>
  {{/each}}
{{/paper-list}}

{{yield}}